@font-face {
  font-family: DINPro;
  src: url("../font/DINPro-Regular.otf") format("opentype"); }

@font-face {
  font-family: DINPro;
  font-weight: bold;
  src: url("../font/DINPro-Medium.otf") format("opentype"); }

body {
  font-family: DINPro;
  color: #fff;
  background-color: #0f1318;
  margin-bottom: 60px; }

a, a:link, a:visited, a:hover, a:focus {
  color: #00ccff;
  text-decoration: none; }

.navbar {
  margin-bottom: calc(76px * -1);
  background-color: rgba(26, 31, 38, 0.6); }

.jumbotron-fluid {
  background-image: url("../img/Header-a-HD.png");
  background-position: center center;
  height: 346px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(76px + 64px);
  margin-bottom: 3.5rem; }
  .jumbotron-fluid h1 {
    margin-bottom: 2rem; }
  .jumbotron-fluid .block-dropdowns {
    display: flex;
    flex-direction: row; }
    .jumbotron-fluid .block-dropdowns > div {
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-touch-callout: none;
      user-select: none;
      cursor: pointer;
      height: 40px;
      background-color: #22242c;
      border-radius: 2px;
      border: 1px solid #28948f; }
      .jumbotron-fluid .block-dropdowns > div {
        display: table;
        table-layout: fixed;
        width: 100%; }
      .jumbotron-fluid .block-dropdowns > div > * {
        display: table-cell;
        vertical-align: middle; }
      .jumbotron-fluid .block-dropdowns > div.date-dropdown {
        width: 220px; }
      .jumbotron-fluid .block-dropdowns > div.time-dropdown {
        width: 184px;
        margin-left: 12px; }
      .jumbotron-fluid .block-dropdowns > div > div:nth-child(1) {
        width: 42px;
        padding-right: 12px; }
        .jumbotron-fluid .block-dropdowns > div > div:nth-child(1) > img {
          width: 30px; }
      .jumbotron-fluid .block-dropdowns > div > div:nth-child(2) {
        font-size: 14px;
        font-weight: 600; }
      .jumbotron-fluid .block-dropdowns > div > div:nth-child(3) {
        width: 42px;
        padding-left: 12px; }
        .jumbotron-fluid .block-dropdowns > div > div:nth-child(3) > img {
          width: 30px; }

body > .container, .navbar > .container, .jumbotron-fluid > .container, footer > .container {
  max-width: 1000px; }

.blocks-table .blocks-table-row {
  display: table;
  table-layout: fixed;
  width: 100%; }

.blocks-table .blocks-table-row > * {
  display: table-cell;
  vertical-align: middle; }

.blocks-table .blocks-table-row.header, .blocks-table .blocks-table-row.block-data {
  height: 52px; }
  .blocks-table .blocks-table-row.header > *, .blocks-table .blocks-table-row.block-data > * {
    font-size: 16px; }

.blocks-table .blocks-table-row.header > * {
  text-transform: uppercase;
  color: #78838e;
  font-weight: 600; }

.blocks-table .blocks-table-row.block-data {
  border-top: 1px #22242c solid; }
  .blocks-table .blocks-table-row.block-data > * {
    font-size: 16px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #000; }
  .footer > .container {
    display: table;
    table-layout: fixed;
    width: 100%; }
  .footer > .container > * {
    display: table-cell;
    vertical-align: middle; }
  .footer > .container > *:nth-child(2) {
    text-align: right; }
